{% extends "main.html" %}

{% block tabs %}
  {{ super() }}

  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>

  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="images/cover.png" alt="" width="1659" height="1200" draggable="false">
        </div>
        <div class="mdx-hero__content">
          <div class="image-container">
            <img src="images/openterface-mini-kvm-v1-9-s.png" alt="Produto Openterface Mini-KVM" width="460" draggable="false">
          </div>
          <a href="{{ 'https://www.crowdsupply.com/techxartisan/openterface-mini-kvm' | url }}" title="Pre Order" class="md-button md-button--primary">
            Encomende AGORA! <img src="images/trademark/crowd-supply.svg" alt="Crowd Supply" style="vertical-align: middle; height: 26px;">
          </a>
          <a href="{{ 'https://www.crowdsupply.com/techxartisan/usb-kvm-diy-challenge-2024' | url }}" title="Desafio" class="md-button" style="background-color: #ff4500; color: #fff; font-weight: bold; border: 2px solid #ff4500; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); animation: pulse 1.5s infinite;">
            Desafio DIY
          </a>
          <p>Construa seu próprio <strong>KVM USB</strong> & ganhe prêmios incríveis! 🏆</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dialogue-section-white" id="app">
    <h2>Instale o App do Host</h2>
    <div class="container">
        <img src="/images/product/win_qt_app.jpg" alt="Imagem do Poster" class="poster-image-shadow">
    </div>
    <div class="callout-button-container">
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/win.svg" alt="Avatar" class="avatar" draggable="false">
            <p>Windows</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.windows.amd64.installer.exe" class="md-button md-button--primary" id="join-waitlist-button">Instalador {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT-portable.exe" class="md-button md-button--primary" id="join-waitlist-button">EXE portátil {{ config.extra.qt_version }}</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/app-store.svg" alt="Avatar" class="avatar" draggable="false">
            <p>macOS</p>
            <a href="https://apps.apple.com/pt/app/openterface-mini-kvm/id6478481082" class="md-button md-button--primary" id="join-waitlist-button">App Store</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/linux.svg" alt="Avatar" class="avatar" draggable="false">
            <p>Linux</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.amd64.deb" class="md-button md-button--primary" id="join-waitlist-button">AMD64 DEB {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.amd64.rpm" class="md-button md-button--primary" id="join-waitlist-button">AMD64 RPM {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.arm64.deb" class="md-button md-button--primary" id="join-waitlist-button">ARM64 DEB {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT/releases/download/{{ config.extra.qt_version }}/openterfaceQT.linux.arm64.rpm" class="md-button md-button--primary" id="join-waitlist-button">ARM64 RPM {{ config.extra.qt_version }}</a>
            <a href="https://github.com/TechxArtisanStudio/Openterface_QT" class="md-button md-button--primary" id="join-waitlist-button">Código Fonte</a>
        </div>
        <div class="dialogue-bubble" id="op-bubble">
            <img src="/images/trademark/android.svg" alt="Avatar" class="avatar" draggable="false">
            <p>Android</p>
            <a href="https://github.com/TechxArtisanStudio/Openterface_Android/releases/download/{{ config.extra.android_version }}/OpenterfaceAndroid-release.apk" class="md-button md-button--primary" id="join-waitlist-button">apk {{ config.extra.android_version }}</a>
        </div>
    </div>
    <p>e <a href="/app" style="color: var(--md-primary-fg-color);">mais</a>.</p>
  </section>

  <section class="product-close-up" id="product-close-up">
    
    <div class="container">

      <div class="product-close-up-content">
        <div class="product-image">
          <img src="images/product/use-case-demo-respberry-pi.jpg" alt="Close-up do Produto">
        </div>
        <div class="product-description">
          <p>Elevate sua caixa de ferramentas tecnológicas com o Openterface Mini-KVM: 
            <strong>uma solução KVM-over-USB compacta, rica em recursos e de código aberto</strong> que simplifica sua vida tecnológica com tarefas e solução de problemas IT em tempo real.
          </p>
        </div>
      </div>
  
      <div class="product-close-up-content reverse-layout">
        <div class="product-image">
          <img src="/images/product/use-case-demo-industrial-pc.jpg" alt="Poster de Pré-Lançamento">
        </div>
        <div class="product-description">
          <p> <strong>Diga adeus àquele monitor, teclado e mouse extras!</strong>
            Transforme seu laptop em uma console KVM inteligente para controlar qualquer dispositivo sem cabeça via HDMI e USB.
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="icon-section" id="icon">
    <div class="icon-container">
        <h2>Características</h2>
        <div class="icon-grid">
            <div class="icon-item">
              <img src="images/feature-icons/icon-plug-and-play.svg#only-light" alt="Ícone Plug and Play">
              <img src="images/feature-icons/icon-plug-and-play-d.svg#only-dark" alt="Ícone Plug and Play">
              <p>Plug'n'Play</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-bios-access.svg#only-light" alt="Ícone Acesso BIOS">
                <img src="images/feature-icons/icon-bios-access-d.svg#only-dark" alt="Ícone Acesso BIOS">
                <p>Acesso BIOS</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-network-free.svg#only-light" alt="Ícone Livre de Rede">
                <img src="images/feature-icons/icon-network-free-d.svg#only-dark" alt="Ícone Livre de Rede">
                <p>Livre de Rede</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-text-transfer.svg#only-light" alt="Ícone Transferência de Texto">
                <img src="images/feature-icons/icon-text-transfer-d.svg#only-dark" alt="Ícone Transferência de Texto">
                <p>Transferência de Texto</p>
            </div>
            <div class="icon-item">
                <img src="images/feature-icons/icon-usb-switch.svg#only-light" alt="Ícone Interruptor USB">
                <img src="images/feature-icons/icon-usb-switch-d.svg#only-dark" alt="Ícone Interruptor USB">
                <p>Interruptor USB</p>
            </div>
            <div class="icon-item">
              <img src="images/feature-icons/icon-more.svg#only-light" alt="Ícone Mais">
              <img src="images/feature-icons/icon-more-d.svg#only-dark" alt="Ícone Mais">
              <p>e <a href="/features" style="color: var(--md-primary-fg-color);">mais</a>.</p>
          </div>
        </div>
    </div>
  </section>

  <section class="feature-dev-test" id="feature-dev-test">
    <div class="container">
      <h2>Preview do Produto</h2>
      <div class="videos-wrapper">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZZ5P6MnBcHw?si=Ny7OUeid4Wnu_YqV" title="Vídeo de Introdução" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/K0EuMSQEwKo?si=MEHPtBsCP5pSerD2" title="App Beta para Windows" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xAEQpWyfY-c?si=7aMQoJ-1bBI5Hicw" title="Avaliação do Produto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  
  <section class="blog" id="blog">
    <div class="container">
      <h2>Destaques</h2>
      <div class="blog-list">
        <div class="post">
          <h3><a href="/blog/pronto-para-um-desafio-diy-junte-se-a-nós-no-show--tell-da-oshwa/">Pronto para um Desafio DIY? Junte-se a nós no Show & Tell da OSHWA!</a></h3>
          <p class="date">24/10/01</p>
        </div>
        <div class="post">
          <h3><a href="/blog/superando-obstáculos-atualização-de-progresso-e-novo-cronograma/">Superando Obstáculos: Atualização de Progresso e Novo Cronograma/a></h3>
          <p class="date">24/08/23</p>
        </div>
        <div class="post">
          <h3><a href="/blog/da-desmontagem-%C3%A0-produ%C3%A7%C3%A3o-estamos-avan%C3%A7ando/">Da Desmontagem à Produção: Estamos Avançando!</a></h3>
          <p class="date">24/07/16</p>
        </div>
        <div class="post">
          <h3><a href="/blog/last-hours-to-back--mini-kvms-at-tech-frontlines/">Últimas Horas para Aderir & Mini-KVMs na Linha de Frente da Tecnologia</a></h3>
          <p class="date">24/06/12</p>
        </div>
      </div>
      <a href="{{ '/blog' | url }}" title="ler mais" class="md-button md-button--primary read-more-btn">
        Ler Mais
      </a>
    </div>
  </section>

  <a rel="me" href="https://mastodon.social/@youyoubilly" style="display:none;">Mastodon</a>

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}